n8n_workflow_05_daily.json
{
  "name": "05 — Ежедневный брифинг директора",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 9 * * *"}]
        }
      },
      "id": "node-daily-001",
      "name": "Каждый день 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "try {\n  const fs = require('fs');\n  const leads = JSON.parse(fs.readFileSync('D:/Content OS/pc_data/leads.json','utf8') || '[]');\n  const fin = JSON.parse(fs.readFileSync('D:/Content OS/pc_data/finance.json','utf8') || '{\"income\":[]}');\n  const income = fin.income.reduce((a,t) => a+(t.amount||0), 0);\n  return [{json: {\n    new_leads: leads.filter(l=>l.stage==='new').length,\n    on_call: leads.filter(l=>l.stage==='call').length,\n    total: leads.length,\n    income: income,\n    kpi: Math.round(income/20000*100)\n  }}];\n} catch(e) { return [{json:{error:e.message}}]; }"
      },
      "id": "node-daily-002",
      "name": "Данные дня",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyB37bqKJ7VAJcfV72iQgdqO6QCFPIvDt8U",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"Утренний брифинг директора продюсерского агентства.\\nСтатистика: лидов {{ $json.total }} (новых {{ $json.new_leads }}, на созвоне {{ $json.on_call }}), KPI {{ $json.kpi }}%, доход ${{ $json.income }}.\\n\\nДай: 1) ТОП-3 задачи на сегодня 2) На что обратить внимание. Кратко, 5-7 строк.\"}]}]}",
        "options": {}
      },
      "id": "node-daily-003",
      "name": "Gemini брифинг",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8494012171:AAFTbhHTS0WxlG6PE6DRn96nVVF4kKfBKtY/sendMessage",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"chat_id\":\"905075336\",\"text\":\"Доброе утро! Брифинг дня\\n\\n{{ $json.candidates[0].content.parts[0].text }}\"}",
        "options": {}
      },
      "id": "node-daily-004",
      "name": "Отправить брифинг",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Каждый день 09:00": {
      "main": [[{"node": "Данные дня", "type": "main", "index": 0}]]
    },
    "Данные дня": {
      "main": [[{"node": "Gemini брифинг", "type": "main", "index": 0}]]
    },
    "Gemini брифинг": {
      "main": [[{"node": "Отправить брифинг", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "tags": []
}
