n8n_workflow_01_tg_parser (3).json
{
  "name": "01 — Telegram Parser → CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tg-parser",
        "options": {}
      },
      "id": "node-webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "tg-parser-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=AIzaSyB37bqKJ7VAJcfV72iQgdqO6QCFPIvDt8U",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"contents\":[{\"role\":\"user\",\"parts\":[{\"text\":\"Напиши первое сообщение для {{ $json.name }}. Они написали: {{ $json.message }}. Ниша: {{ $json.niche }}. 3 предложения. Живо. Закончи вопросом.\"}]}]}",
        "options": {}
      },
      "id": "node-gemini-002",
      "name": "Gemini AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8494012171:AAFTbhHTS0WxlG6PE6DRn96nVVF4kKfBKtY/sendMessage",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"chat_id\":\"{{ $('Webhook').item.json.contact }}\",\"text\":\"{{ $json.candidates[0].content.parts[0].text }}\"}",
        "options": {}
      },
      "id": "node-tgsend-003",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [720, 180]
    },
    {
      "parameters": {
        "functionCode": "const d = $('Webhook').item.json;\ntry {\n  const fs = require('fs');\n  const p = 'D:/Content OS/pc_data/leads.json';\n  let arr = [];\n  try { arr = JSON.parse(fs.readFileSync(p,'utf8')); } catch(e) {}\n  arr.push({\n    id: Date.now(),\n    name: d.name || 'Неизвестно',\n    contact: d.contact || '',\n    niche: d.niche || '',\n    source: 'telegram',\n    stage: 'contacted',\n    date: new Date().toLocaleDateString('ru-RU',{day:'2-digit',month:'2-digit'}),\n    notes: 'Авто-парсинг: ' + (d.keyword || '')\n  });\n  fs.writeFileSync(p, JSON.stringify(arr, null, 2));\n  return [{json:{status:'ok',name:d.name}}];\n} catch(e) {\n  return [{json:{status:'error',msg:e.message}}];\n}"
      },
      "id": "node-crm-004",
      "name": "Save to CRM",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [720, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node":"Gemini AI","type":"main","index":0}]]
    },
    "Gemini AI": {
      "main": [[
        {"node":"Telegram Send","type":"main","index":0},
        {"node":"Save to CRM","type":"main","index":0}
      ]]
    }
  },
  "active": false,
  "settings": {"executionOrder":"v1"},
  "tags": []
}
